.audiowide-regular {
    font-family: 'Audiowide', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#netteTunesWindow {
    position: absolute;
    top: 200px;
    left: 210px;
    display: grid;
    width: 880px; /* overall window size */
    height: 650px;
    grid-template-areas:
        'title title'
        'header header'
        'player player';
    grid-template-rows: 1fr 2fr 10fr;
    grid-template-columns: 1fr;
}
#netteTunesWindow > * {
    box-shadow: 0 2px 2px 0px rgba(250, 250, 250, 0.3);
}
#netteTunesWindow button:active {
    background-color: #c0c0c0; /* slightly darker */
    border-color: gray white white gray; /* invert borders */
}

.netteTunesBg {
    background-image: url('../media/image/nettetunes_bg.png');
    box-shadow: 4px 5px 15px 7px rgba(1, 1, 1, 0.1);
}
/* PLAYER SECTION */
#netteTunesWindow .player {
    display: grid;
    height: 100%;
    grid-area: player;
    grid-template-areas:
        col1 col2 col3
        col1 col2 col3
        col1 col2 col3;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    box-shadow: 18px 22px rgba(1, 1, 1, 0.1);
    aspect-ratio: 3.3/2;
    height: 80%;
    align-self: center;
    justify-self: center;

    overflow: hidden;
    /* clip-path: ellipse(50% 50% at 50% 50%);  */
    border: 0.2rem solid hsl(200, 10%, 75%);
    border-radius: 70%;
    background-color: hsl(200, 10%, 75%);
    /* background-color: hsl(200, 10%, 75%); */
}

.player div {
    background-color: hsl(200, 10%, 75%);
}

/* LEFT SECTION */
.player .controls {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/4;
    margin-left: -0.6rem;
    grid-template-rows: 1fr 1fr 1fr;
    border-right: 4px solid gray;
}
.controls .stop {
    grid-row: 1/2;
    box-shadow: inset 2px 2px 5px rgba(1, 1, 1, 0.3);
}
.stop p {
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    margin-left: 5.5rem;
    margin-top: 4.5rem;
}
.controls .play {
    position: relative;
    margin-left: -0.4rem;
    grid-row: 2/3;
    box-shadow: inset 2px 2px 5px rgba(1, 1, 1, 0.3);
}
.play p {
    position: absolute;
    font-size: 66px;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
}
.controls .pause {
    position: relative;
    grid-row: 3/4;
    box-shadow: inset 2px 2px 5px rgba(1, 1, 1, 0.3);
}
.pause p {
    transform: scaleX(1.5);
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    margin-left: 5.5rem;
    bottom: 50px;
}
/* MIDDLE SECTION */
.player .main {
    justify-items: center;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/4;
    margin-top: -0.6rem;
    margin-bottom: -0.6rem;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    border: 6px groove rgba(1, 1, 1, 0.4);
    border-left: 4px lightgray solid;
    border-right: 4px gray solid;
}
.main .header {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 4rem;
    width: auto;
    border: none;
}
.header h2 {
    width: 100%;
    text-align: center;
    font-family: audiowide;
    color: purple;
    font-weight: 700;
    white-space: nowrap;
    margin-top: 2rem;
    margin-left: 1rem;
}
.main .scroller {
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/2;
    height: 10rem;
    overflow: auto;
    ::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;

    grid-template-columns: 1fr;
    align-content: center;
    margin: 1rem;
    border-top: 4px solid gray;
    border-right: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
    border-left: 4px solid gray;
    background-color: lightblue;
    max-height: 100%;
    max-width: 90%;
}
.scroller .trackDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0.1rem;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-column: 1/2;
    max-width: 100%;
    border: none;
    background-color: transparent;
}
.trackDisplay p {
    word-spacing: 0;
    letter-spacing: -0.05rem;
    line-height: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}
.trackDisplay .songTitle {
    color: hsl(4, 70%, 55%);
}
.trackDisplay .sep {
    padding-top: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
}
.main .eq {
    font-size: 42px;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/2;
}
/* RIGHT SECTION */
.player .extraWrapper {
    box-sizing: border-box;
    margin-top: 3.8rem;
    padding: 2rem;
    height: 120%;
    display: grid;
    border-left: 4px solid lightgray;
    grid-row: 1/4;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    background-color: hsl(200, 10%, 75%);
}
.playerExtra {
    background-color: hsl(200, 10%, 75%);
    /* clip-path: ellipse(80% 110% at 5% 150%); */
    /* border-radius: 0px 190px 190px 0px; */
}
.playerExtra > div {
    width: 80%;
    border-left: 4px solid lightgray;
    border-bottom: 4px solid gray;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}
.playerExtra .resume {
    position: relative;
    display: grid;
    grid-row: 1/2;
    border-start-start-radius: 100% 100%;
    direction: rtl;
    height: 40%;
}
.resume p {
    font-size: 9px;
    font-weight: 600;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.playerExtra .songList {
    position: relative;
    grid-row: 2/3;
    border-top-right-radius: 5% 70%;
    border-bottom-right-radius: 5% 70%;
    height: 45%;
    width: 83%;
}
.songList p {
    font-size: 9px;
    font-weight: 600;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.playerExtra .blank {
    position: relative;
    grid-row: 3/4;
    border-end-end-radius: 100% 100%;
    direction: ltr;
    height: 40%;
}
.blank p {
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(200, 10%, 75%);
}
