@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /* background: linear-gradient(darkgray, gray);
    padding: 5rem; */

    /* background: rgb(0 131, 210); */
    cursor: url('../media/image/mouse.png') 0 0, auto;
}
.hideEl {
    visibility: hidden;
}
button {
    cursor: url('../media/image/mouse.png') 0 0, auto;
}
select {
    cursor: url('../media/image/mouse.png') 0 0, auto;
}

#desktop {
    height: 95vh;
    width: auto;
    display: grid;
    padding-left: 1rem;
    padding-top: 1rem;
    row-gap: 2rem;
    grid-template-rows: repeat(16, 1fr);
    grid-auto-flow: column;
    background-image: url('../media/image/cinco_walp_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

input {
    background-color: white;
    border: 8px solid gray white white gray; /* classic 3D border */
    padding: 2px 4px;
}
.title {
    grid-area: title;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 0.1fr;
    padding: 0.4rem;
    background: linear-gradient(
            to right,
            rgba(50, 30, 210, 0.7),
            rgba(60, 150, 210, 0.7)
        ),
        repeating-linear-gradient(
            to bottom,
            rgba(40, 30, 210),
            rgba(50, 70, 210) 0.4rem
        );
}
.title > .toolbar {
    display: flex;
    grid-column: 2/3;
    justify-self: end;
    gap: 0.5rem;
}
.title button {
    height: 35px;
    width: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    background-color: lightgrey;
}

.header {
    grid-area: header;
    display: grid;
    box-sizing: border-box;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    background-color: hsl(0, 0%, 80%);
    border-bottom: 3px solid gray;
}
.header button {
    cursor: url('../media/image/mouse.png') 0 0, auto;
}
.header img {
    display: grid;
    grid-row: 1/4;
    grid-column: 1/2;
    max-width: 100%;
    visibility: visible;
}
.header .weirdBtnGrp {
    display: grid;
    grid-auto-flow: column;
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 100%;
    gap: 1rem;
    padding: 0.5rem;
}
.weirdBtnGrp button {
    border: 4px solid;
    border-color: lightgray gray gray lightgray; /* top/left light, bottom/right dark */
    background-color: hsl(0, 0%, 75%);
    color: hsl(180, 0%, 70%);
}
.header .searchInput {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 2%;
}
.header .weirdInput {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: -10rem;
    margin-bottom: 1rem;
}
.header .searchBtn {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: start;
    padding: 0.3rem;
    font-family: montserrat;
    font-weight: 700;
    font-size: 21px;
    background-color: hsl(0, 0%, 75%);
    border: 4px solid;
    border-color: lightgrey gray gray lightgrey; /* top/left light, bottom/right dark */
}
